---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import HeroSmall from "/src/components/HeroSmall.astro";
import IndexAccordion from "../../../components/grid/IndexAccordion.astro";

const pageTitle = "Genética";
const url = "/salud-mujer/genetica/banner-genetica.png";

const sections = [
  {
    id: "section_1",
    title: "Cordón umbilical",
  },
  {
    id: "section_2",
    title: "Genética",
  }
];
---

<BaseLayout>

  <HeroSmall name={pageTitle} url={url} alternativeText={pageTitle}/>

  <IndexAccordion sections={sections} />

  <div
    class="items-center max-w-5xl px-10 sm:px-10 md:px-10 lg:mx-auto pt-10 pb-5 service-detail"
  >
    <section id="section_1">
      <div>
        <div class="inline-flex items-center justify-content-center pb-10">
          <img class="py-5" src="/icon/icon-genetica1.png" />
          <h2 class="ml-5 mt-3 title">Cordón Umbilical</h2>
        </div>
      </div>
      <div>
        <div>
          <h3>Valor terapéutico</h3>
          <p>
            Las células madre del cordón umbilical pueden ser de ayuda en
            algunas enfermedades hematológicas.
          </p>
        </div>
      </div>
      <section class="grid grid-col-1 lg:grid-cols-2">
        <div>
          <h3>¿Qué son las células madre?</h3>
          <p>
            En términos generales podemos decir que las células madre son el
            origen del resto de células, de las cuales se derivan todas las
            estructuras: piel, músculos, huesos, sangre, fibras nerviosas y
            todos los órganos.
          </p>
          <p>
            Durante toda la vida, las células madre asumen importantes funciones
            de reparación en caso de lesión o enfermedad.
          </p>
          <p>
            La sangre del cordón umbilical (SCU) es rica en células madre
            progenitoras hematopoyéticas, que tienen la propiedad de
            multiplicarse y generar las células que tiene la sangre.
          </p>
          <p>
            Las células madre alogénicas tienen potencial de aplicación en más
            de 70 enfermedades hematológicas y otras sistémicas de base genética
            graves*.
          </p>
        </div>
        <div class="flex items-center justify-center">
          <img
            class="py-5"
            src="/salud-mujer/genetica/img-genetica1.png"
          />
        </div>
      </section>
      <section class="grid grid-col-1 lg:grid-cols-2">
        <div class="flex items-center justify-center">
          <img
            class="py-5"
            src="/salud-mujer/genetica/img-genetica2.png"
          />
        </div>
        <div>
          <h3>Gran potencial futuro</h3>
          <p>
            Potencial terapéutico reflejado en múltiples programas de
            investigación enfocados al tratamiento de enfermedades graves.
          </p><br />
          <h3>Utilidad intrafamiliar y disponibilidad inmediata</h3>
          <p>
            Las células madre del cordón umbilical pueden ser útiles para el
            tratamiento de enfermedades en el paciente que las generó y también
            en sus familiares directos.
          </p><br />
          <h3>¿En qué consiste?</h3>
          <p>
            Servicio para la conservación de las células madre de cordón
            umbilical en un banco privado.
          </p>
        </div>
      </section>
      <section class="grid grid-col-1 lg:grid-cols-2">
        <div>
          <h3>¿Por qué conservar?</h3>
          <p>
            Estas células madre pueden generar glóbulos rojos (para transportar
            el oxígeno por el torrente sanguíneo), glóbulos blancos (para
            defendernos de agresiones externas) y plaquetas (que favorecen la
            coagulación y evitan hemorragias).
          </p>
          <p>
            Tienen asimismo la capacidad de regenerar la médula ósea y el
            sistema inmunitario cuando éste se encuentra deprimido, bien por una
            enfermedad propia de la médula ósea, o bien por un tratamiento
            previo de quimioterapia (empleada como acondicionamiento previo para
            la preparación del paciente que va a ser trasplantado con células
            madre hematopoyéticas).
          </p>
          <p>Su obtención es inocua tanto para la madre como para el niño.</p>
          <p>
            Debido a la inmadurez de este tipo de células, presenta menores
            problemas de compatibilidad y por lo tanto un menor riesgo de
            padecer la enfermedad Injerto contra Huésped. No representa ningún
            problema ético.
          </p>
          <p>
            Mayor potencial para la cura de determinadas enfermedades que el
            trasplante de médula ósea y mayor porcentaje de supervivencia.
          </p>
          <p>
            Además de los usos actuales, en el futuro estas células madre
            podrían tener muchas más aplicaciones terapéuticas, que actualmente
            están en fase preclínica.
          </p>
          <p>
            La UE reconoce el potencial terapéutico y promueve el almacenamiento
            de SCU.
          </p>
        </div>
        <div class="flex items-center justify-center">
          <img
            class="py-5"
            src="/salud-mujer/genetica/img-genetica3.png"
          />
        </div>
      </section>

      <!-- Qué enfermedades pueden tratarse -->
      <section class="grid grid-col-1">
        <div>
          <h3>¿Qué enfermedades pueden tratarse?</h3>
          <p>
            Estas enfermedades, indicadas para trasplante de una persona a otra
            de sangre de cordón umbilical. Enfermedades tratadas mediante
            Trasplante de Sangre de Cordón:
          </p>
        </div>
      </section>

      <section class="grid grid-col-1 lg:grid-cols-2">
        <div>
          <ul>
            <li><span>Enfermedades Neoplásicas 73% de los casos.</span></li>
            <li><span>Leucemia linfoblástica aguda.</span></li>
            <li><span>Leucemia mieloblástica aguda.</span></li>
            <li><span>Síndromes mielodisplásicos.</span></li>
            <li><span>Leucemia mieloide crónica.</span></li>
            <li><span>Leucemia mieloide crónica juvenil.</span></li>
            <li><span>Leucemia linfocítica crónica.</span></li>
            <li><span>Linfoma no Hodgkin.</span></li>
            <li><span>Enfermedad de Hodgkin.</span></li>
            <li><span>Mieloma múltiple.</span></li>
            <li><span>Enfermedades No Tumorales 27% de los casos.</span></li>
          </ul>
        </div>
        <div>
          <ul>
            <li><span>Anemia aplásica severa.</span></li>
            <li><span>Anemia de Fanconi.</span></li>
            <li><span>Anemia de Blackfan-Diamond.</span></li>
            <li><span>Osteopetrosis.</span></li>
            <li><span>Síndrome de Kostman.</span></li>
            <li><span>Trombocitopenia amegacariocítica.</span></li>
            <li><span>Disqueratosis congénita.</span></li>
            <li>
              <span
                >Inmunodeficiencias (SCID, S. Wiskott Aldrich, S. Hiper-IgM).</span
              >
            </li>
            <li>
              <span
                >Hemoglobinopatías (Talasemia, Anemia de células falciformes).</span
              >
            </li>
            <li>
              <span
                >Enfermedades metabólicas de depósito (S. Hurler, S. Hunter,
                Adrenoleucodistrofia, Leucodistrofia metacromática, E. Krabbe,
                S. Lesch-Nyhan).</span
              >
            </li>
          </ul>
        </div>
      </section>
      <section class="grid grid-col-1">
        <div>
          <h3 class="text-orange text-center">
            Beneficios en conservar las células madre del cordón umbilical de tu
            bebé
          </h3>
        </div>
      </section>
      <section class="grid grid-col-1 lg:grid-cols-2 items-center justify-items-center">
        <div>
          <img
            class="py-5"
            src="/salud-mujer/genetica/img-genetica4.png"
          />
        </div>
        <div>
          <h3>Valor terapéutico</h3>
          <p>
            Las células madre del cordón umbilical pueden ser de ayuda en
            algunas enfermedades hematológicas.
          </p><br />
          <h3>Gran potencial futuro</h3>
          <p>
            Potencial terapéutico reflejado en múltiples programas de
            investigación enfocados al tratamiento de enfermedades graves.
          </p><br />
          <h3>Utilidad intrafamiliar y disponibilidad inmediata</h3>
          <p>
            Las células madre del cordón umbilical pueden ser útiles para el
            tratamiento de enfermedades en el paciente que las generó (muy poco
            probable) y también en sus familiares directos (hermanos). Además,
            la disponibilidad de la muestra es inmediata.
          </p>
        </div>
      </section>
    </section>

    <section id="section_2">
      <div>
        <div class="inline-flex items-center justify-content-center pb-10">
          <img
            class="py-5"
            src="/salud-mujer/genetica/icon-genetica2.png"
          />
          <h2 class="ml-5 mt-3 title">Genética</h2>
        </div>
      </div>
      <div>
        <div class="grid grid-cols-12 gap-4">
          <div class="col-span-12 md:col-span-1">
            <img
              class="w-15 py-5"
              src="/salud-mujer/genetica/lista-genetica1.png"
            />
          </div>
          <div class="col-span-12 md:col-span-11">
            <p>
              <strong>Genética Clínica:</strong> Nos ayuda a conocer el grado de
              trasmisión intergeneracional y si se expresaran en la descendencia.
              La cual se realiza a través de los genes, que se heredan de padres
              a hijos, realizando una orientación sobre diferentes probables herencias.
            </p>
          </div>
        </div>
        <div class="grid grid-cols-12 gap-4">
          <div class="col-span-12 md:col-span-1">
            <img
              class="w-15 py-5"
              src="/salud-mujer/genetica/lista-genetica2.png"
            />
          </div>
          <div class="col-span-12 md:col-span-11">
            <p>
              <strong>Consejo Genético:</strong> Una consulta de consejo genético
              es un servicio que proporciona información y apoyo a las personas y/o
              familias que padecen o pueden tener riesgo de padecer un desorden genético.
              La información recabada durante la consulta de consejo genético permite
              determinar si es necesario realizar un análisis genético y la prueba
              concreta que sería más adecuada, aunque la decisión de llevarla a cabo
              o no depende de la persona afectada, que contará con la información
              necesaria sobre las posibles consecuencias, para él o su descendencia,
              de los resultados que se obtengan de los análisis genéticos, así como
              de sus ventajas, riesgos, y posibles alternativas.
            </p>

            <section>
              <h3>La nueva generación de Test Prenatal</h3>
              <p>
                Las anomalías cromosómicas, como la trisomía 21 (Síndrome de
                Down), están presentes en el 1-2% de los fetos. Hay un amplio
                abanico de pruebas disponibles para evaluar el correcto
                desarrollo del futuro bebé antes de su nacimiento.
              </p>
            </section>

            <div class="grid grid-cols-12 gap-4">
              <div class="col-span-12 md:col-span-5 justify-items-center">
                <img
                  class="py-5"
                  src="/salud-mujer/genetica/img-genetica5.png"
                />
              </div>
              <div class="col-span-12 md:col-span-7">
                <h3>Valor terapéutico</h3>
                <p>
                  Las células madre del cordón umbilical pueden ser de ayuda en
                  algunas enfermedades hematológicas.
                </p>
                <br />
                <h3>Gran potencial futuro</h3>
                <p>
                  Potencial terapéutico reflejado en múltiples programas de
                  investigación enfocados al tratamiento de enfermedades graves.
                </p>
                <br />
                <h3>Utilidad intrafamiliar y disponibilidad inmediata</h3>
                <p>
                  Las células madre del cordón umbilical pueden ser útiles para
                  el tratamiento de enfermedades en el paciente que las generó
                  (muy poco probable) y también en sus familiares directos
                  (hermanos). Además, la disponibilidad de la muestra es
                  inmediata.
                </p>
              </div>
            </div>

            <section>
              <h3>Estoy embarazada, ¿puedo realizarme un test?</h3>
              <p>
                Está indicado a partir de la 10ª semana de gestación (10 semanas
                + 0 días). Puede realizarse en casos de reproducción asistida,
                incluso FIV por donación de gametos. Es apto para gestaciones
                gemelares. Un test genético de cribado y como tal debe ser
                prescrito por un médico.
              </p>
            </section>

            <div>
              <img
                class="py-5"
                src="/salud-mujer/genetica/img-genetica6.png"
              />
            </div>

            <section class="grid grid-cols-12 gap-4">
              <div class="col-span-12 md:col-span-7">
                <h3>¿Qué tipo de anomalías cromosómicas detecta?</h3>
                <p><strong>1. Trisomías más frecuentes</strong></p>
                <p>
                  Una trisomía se produce por la presencia de tres copias de un
                  cromosoma en lugar de las dos habituales.
                </p><br />
                <p>
                  Trisomía 21 o síndrome de Down, es la más frecuente. Los niños
                  con esta afección pueden padecer discapacidad intelectual de
                  leve a moderada, defectos cardiacos y/u otros trastornos.
                </p><br />
                <p>
                  Trisomía 18 o síndrome de Edwards, presenta un elevado índice
                  de aborto espontáneo. Los bebés con esta afección normalmente
                  presentan malformaciones severas y retraso mental. Por lo
                  general no sobreviven más allá del primer año.
                </p><br />
                <p>
                  Trisomía 13 o síndrome de Patau, está relacionado con un
                  índice elevado de aborto espontáneo. Los bebés nacidos con
                  síndrome de Patau tienen retraso mental severo y pueden
                  presentar severas malformaciones cardíacas congénitas, así
                  como otras patologías. Raramente sobreviven más allá del
                  primer año.
                </p>
              </div>
              <div class="col-span-12 md:col-span-5 justify-items-center">
                <img
                  class="py-5"
                  src="/salud-mujer/genetica/img-genetica7.png"
                />
              </div>
            </section>

            <section class="grid grid-cols-12 gap-4">
              <div class="col-span-12 md:col-span-5 justify-items-center">
                <img
                  class="py-5"
                  src="/salud-mujer/genetica/img-genetica8.png"
                />
              </div>
              <div class="col-span-12 md:col-span-7">
                <p>
                  <strong>2. Alteraciones de los cromosomas sexuales</strong>
                </p>
                <p>
                  Detecta alteraciones en el número de cromosomas sexuales, que
                  pueden estar asociadas con una variedad de condiciones leves,
                  incluyendo:
                </p><br />
                <p>
                  Síndrome de Turner (45,X), ausencia de un cromosoma X en
                  mujeres.
                </p><br />
                <p>
                  Síndrome de Klinefelter (47,XXY), presencia de una copia extra
                  del cromosoma X en hombres.
                </p><br />
                <p><strong>3. Microdeleciones y otras aneuploidías</strong></p>
                <p>
                  Ofrece adicionalmente el análisis de alteraciones pequeñas y
                  poco frecuentes en los cromosomas, llamadas microdeleciones,
                  así como de aneuploidías en todos los cromosomas.
                </p>
              </div>
            </section>

            <div>
              <div>
                <h3>Tipos de pruebas</h3>
                <p>
                  Hay diferentes opciones disponibles, tu médico deberá evaluar
                  cuál es la más apropiada para tu caso. Nuestro dpto médico le
                  puede asesorar.
                </p><br />
                <h3>Beneficios</h3>
                <p>
                  Más fiable que el cribado combinado del primer trimestre.
                  Puede realizarse en embarazos gemelares*, gemelos evanescentes
                  y donación de óvulos. Para mujeres de cualquier edad, con
                  independencia del índice de masa corporal o de la etnia. Puede
                  dar resultados con una fracción fetal menor del 4%.
                </p><br />
                <p>
                  El test prenatal no invasivo reduce el número de amniocentesis
                  innecesarias. La detección de los 24 cromosomas e identifica
                  cinco microdeleciones que están asociadas con importantes
                  síndromes genéticos.
                </p>
                <br />
                <h3>Preocupación innecesaria</h3>
                <p>
                  De cada 20 mujeres que obtienen resultados positivos para el
                  síndrome de Down, sólo una concebirá un bebé que lo padezca.
                </p><br />
                <h3>Falsa sensación de seguridad</h3>
                <p>
                  De cada 20 mujeres que conciban un bebé con síndrome de Down,
                  3 obtendrán resultados negativos mediante el cribado
                  bioquímico.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</BaseLayout>
