---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import Hero from "../../../components/Hero.astro";
---

<BaseLayout>
  <Hero
    imageSrc="../../../src/assets/salud-mujer/HeroSaludMujer.jpg"
    showMedicalSearch={false}
  />
  <div>
    <div>
      <div>
        <img src="/images/icon/icon-oncogine1.png" alt="Icono 1" />
        <h2>Nuestras recomendaciones preventivas para ti</h2>
      </div>
    </div>
    <div>
      <div>
        <p>
          Realiza un tratamiento integral del cáncer en la mujer, desde su
          diagnóstico hasta su curación, lo que implica la puesta en marcha de
          un programa de detección precoz (chequeos), tratamiento de la
          enfermedad primaria y recidivante.
        </p><br />
        <p>
          Los tipos de tumores que se tratan son: tumores de mama, ovario,
          trompas de Falopio, cuello uterino, endometrio, miometrio, vulva,
          vagina, y peritoneo.
        </p>
      </div>
    </div>
    <div>
      <div>
        <img src="/images/saludmujer/img-oncogine1.png" alt="Imagen 1" />
      </div>
      <div>
        <ul>
          <li>
            <strong>Exploración Ginecológica:</strong> Se buscarán signos y síntomas
            en genitales externos y tacto vaginal, permitiendo la valoración de útero
            y ovarios.
          </li>
          <li>Mamografías.</li>
          <li>Eco Abdomino-Pélvica.</li>
          <li>
            <strong>Eco Transvaginal:</strong> Visualizamos útero, trompas y ovarios
            buscando masas sugestivas.
          </li>
          <li>
            <strong>Histeroscopia Diagnóstica:</strong> Si se confirma sospecha de
            tumor se introduce una cámara a través del cuello del útero, esta prueba
            es sencilla y se realiza de forma ambulatoria.
          </li>
          <li>
            <strong>Citología:</strong> Analizamos células del cérvix para detectar
            presencia de infecciones, lesiones precancerosas y cáncer.
          </li>
          <li>
            <strong>Colposcopia:</strong> Se realiza en la misma consulta y visualizamos
            el útero, vagina y vulva.
          </li>
          <li>
            <strong>Análisis de sangre:</strong> Nos da información adyuvante, dando
            parámetros que puedan ser sugestivos de presencia de cáncer.
          </li>
          <li>
            <strong>Biopsia:</strong> Con sospecha positiva es necesario extraer
            muestras para analizarlas.
          </li>
          <li>Realización el ganglio centinela.</li>
        </ul>
      </div>
    </div>
  </div>
  <div>
    <div>
      <img src="/images/icon/icon-oncogine2.png" alt="Icono 2" />
      <h2>Valoración en equipo multidisciplinar:</h2>
    </div>
    <div>
      <div>
        <p>
          Realiza un tratamiento integral del cáncer en la mujer, desde su
          diagnóstico hasta su curación, lo que implica la puesta en marcha de
          un programa de detección precoz (chequeos), tratamiento de la
          enfermedad primaria y recidivante.
        </p><br />
        <p>
          Los tipos de tumores que se tratan son: tumores de mama, ovario,
          trompas de Falopio, cuello uterino, endometrio, miometrio, vulva,
          vagina, y peritoneo.
        </p>
      </div>
      <div>
        <img src="/images/saludmujer/img-oncogine2.png" alt="Imagen 2" />
      </div>
    </div>
  </div>
  <div>
    <div>
      <img src="/images/icon/icon-oncogine3.png" alt="Icono 3" />
      <h2>Tratamiento</h2>
    </div>
    <div>
      <div>
        <img src="/images/saludmujer/img-oncogine3.png" alt="Imagen 3" />
      </div>
      <div>
        <ul>
          <li>Cirugía radical del cáncer ginecológico.</li>
          <li>
            Cirugía mini-invasiva laparoscópica o robótica del cáncer
            ginecológico.
          </li>
          <li>
            Conservación de la fertilidad en mujeres con cáncer ginecológico.
          </li>
          <li>Quimioterapia.</li>
          <li>Radioterapia.</li>
          <li>Reconstrucción estética de la mama.</li>
        </ul>
      </div>
    </div>
  </div>
  <div>
    <div>
      <img src="/images/icon/icon-oncogine4.png" alt="Icono 4" />
      <h2>Otros</h2>
    </div>
    <div>
      <div>
        <img src="/images/saludmujer/img-oncogine4.png" alt="Imagen 4" />
      </div>
      <div>
        <h3>Cáncer de piel:</h3>
        <p>
          Cualquier persona que pasa tiempo bajo el sol puede padecer cáncer de
          piel. Las personas de piel blanca, especialmente las que tienen el
          cabello rubio o que son pelirrojas, tienen una mayor probabilidad de
          padecer este cáncer que las personas de piel más oscura. Las personas
          que hayan tenido un familiar cercano con melanoma y aquellas que han
          tenido quemaduras solares graves durante la niñez tienen una mayor
          probabilidad de padecer cáncer de piel.
        </p>
      </div>
    </div>
    <div>
      <p>
        La mayoría de los cánceres de piel pueden prevenirse limitando la
        exposición a rayos ultravioleta (UV) provenientes del sol y de otras
        fuentes como las camas de bronceado.
      </p>
    </div>
    <div>
      <div>
        <img src="/images/saludmujer/img-oncogine5.png" alt="Imagen 5" />
        <p>
          <span>Examen de la piel:</span><br />
          Prestar atención a todos los lunares y las manchas de su piel.
        </p>
      </div>
      <div>
        <img src="/images/saludmujer/img-oncogine6.png" alt="Imagen 6" />
        <p>
          <span>Biopsia de piel: </span><br />
          Se puede tomar una muestra de la piel sospechosa para realizar un análisis
          para diagnóstico y saber el abordaje terapéutico.
        </p>
      </div>
    </div>
    <div>
      <div>
        <h3>Cáncer de Pulmón</h3>
        <p>
          Al menos 8 de cada 10 pacientes diagnosticados se deben al hábito de
          fumar. Sin embargo, las personas que no fuman también pueden
          padecerlo.
        </p>
        <p>
          Es uno de los pocos cánceres que a menudo se puede prevenir:
          simplemente no fume.
        </p>
        <p>
          Si fuma o es un exfumador, tiene de 55 a 74 años, y está relativamente
          bien de salud, usted podría beneficiarse de pruebas de imagen como Rx
          y/o tomografía computarizada realizada cada año como prueba de
          detección del cáncer de pulmón.
        </p>
      </div>
      <div>
        <img src="/images/saludmujer/img-oncogine2.png" alt="Imagen 7" />
      </div>
    </div>
    <div>
      <div>
        <img src="/images/saludmujer/img-oncogine7.png" alt="Imagen 8" />
      </div>
      <div>
        <h3>Cáncer de Colon:</h3>
        <p>
          Si existe un antecedente personal o familiar de este cáncer, o que
          tengan pólipos en el colon o el recto, o aquellas con enfermedad
          inflamatoria intestinal, son más propensas a padecer cáncer de colon.
          Además, el sobrepeso, la alimentación basada principalmente en
          alimentos con un alto contenido de grasa (especialmente de fuentes
          animales), fumar y la falta de ejercicio puede causar que una persona
          tenga más probabilidad de padecer este cáncer. Las pruebas pueden
          salvar vidas porque encuentran los pólipos antes de que se vuelvan
          cancerosos. Si se extirpan los pólipos precancerosos, se puede
          prevenir el cáncer de colon. El cribado de Ca Colorrectal se debe
          comenzar a los 45 años:
        </p><br />
        <ul>
          <li>Prueba inmunoquímica fecal altamente sensible (FIT) cada año.</li>
          <li>
            Prueba de sangre oculta en heces fecales basada en guayacol (gFOBT)
            altamente sensible, cada año.
          </li>
          <li>Prueba multidirigida de ADN en heces fecales cada 3 años.</li>
          <li>Colonoscopia cada 10 años.</li>
          <li>Colonografía CT (colonoscopia virtual) cada 5 años.</li>
          <li>Sigmoidoscopia flexible cada 5 años.</li>
        </ul>
      </div>
    </div>
  </div>
  <div>
    <div>
      <img src="/images/icon/icon-oncogine4.png" alt="Icono 9" />
      <h2>Pruebas Diagnósticas</h2>
    </div>
    <div>
      <div>
        <p>
          Se han reseñado más de 50 síndromes hereditarios de cáncer. La mayoría
          de ellos son causados por mutaciones altamente penetrantes que se
          heredan en forma dominante. La lista a continuación incluye algunos de
          los síndromes hereditarios de cáncer más comunes para los que se
          dispone de pruebas genéticas; incluye también el gen o genes mutados
          en cada síndrome, así como los tipos de cáncer asociados con más
          frecuencia con estos síndromes.
        </p><br />
        <ul>
          <li>Mutación de la BRCA1 y BRCA2: Cáncer de mama y ovario.</li>
          <li>
            Síndrome de Lynch: Cáncer de colon, endometrio, ovario y otros.
          </li>
          <li>Poliposis Adenomatosa Familiar (FAP): Cáncer colorrectal.</li>
          <li>
            Neoplasia Endocrina Múltiple (MEN): Cáncer endocrino, entre otros.
          </li>
        </ul>
      </div>
      <div>
        <img src="/images/saludmujer/img-oncogine8.png" alt="Imagen 9" />
      </div>
    </div>
  </div>
</BaseLayout>
