---
import BaseLayout from "../../layouts/BaseLayout.astro";
import HeroSmall from "/src/components/HeroSmall.astro";
const pageTitle = "Oftalmología";
const url = "/src/assets/oftalmologia/banner-oftalmologia.jpg";
---

<BaseLayout>

   <HeroSmall name={pageTitle} url={url} alternativeText={pageTitle}/>

   <div class="items-center max-w-5xl px-10 sm:px-10 md:px-10 lg:mx-auto pt-10 pb-5 service-detail" id="Scrolling">
    <div>
      <div class="inline-flex items-center justify-content-center">
       <img src="/src/assets/oftalmologia/oftalmologia-icon1.png"/>
       <h2 class="ml-5 title">Unidad de Oftalmología</h2>
      </div>
     <div>
      <div>
       <h3>
        Cirugía refractiva
       </h3>
       <p>
        Técnicas quirúrgicas que tienen como finalidad eliminar o minimizar los defectos refractivos oculares. Estos problemas de la refracción son la miopía, hipermetropía y el astigmatismo. La cirugía refractiva se puede aplicar a través de las técnicas láser (Lasik o de las técnicas de superficie –PRK/Lasek-) o a través de otro tipo de tratamientos, como el implante de una lente intraocular fáquica o pseudofáquica.
       </p>
      </div>
      <div>
       <img src="/src/assets/oftalmologia/oftalmologia1.png"/>
      </div>
     </div>
     <div>
      <div>
       <img src="/src/assets/oftalmologia/oftalmologia2.png"/>
      </div>
      <div>
       <h3>
        Presbicia o vista cansada
       </h3>
       <p>
        Es la principal anomalía visual que afecta a los españoles mayores de 45 años. Es un problema refractivo que se produce cuando el cristalino (la lente natural del ojo) pierde parte de su capacidad de enfoque debido al paso del tiempo.
        <br/>
        La presbicia está asociada al envejecimiento de los órganos y no se puede prevenir. En la actualidad, existe un tratamiento quirúrgico muy seguro y eficaz para corregir este problema.
       </p>
      </div>
     </div>
     <div>
      <div>
       <h3>
        Cataratas
       </h3>
       <p>
        Son una opacidad total o parcial del cristalino del ojo. Se producen cuando el cristalino, la lente natural del ojo que tiene capacidad refractiva y permite enfocar los objetos y el paso de la luz, va perdiendo transparencia progresivamente.
        <br/>
        La aparición de las cataratas visuales forma parte del proceso natural de envejecimiento del ser humano, cuando también pueden aparecer otras patologías oculares, como el glaucoma o los problemas de retina. También existen otros factores que las propician, como la diabetes, las infecciones o traumatismos oculares y la herencia genética.
       </p>
      </div>
      <div>
       <img src="/src/assets/oftalmologia/oftalmologia3.png"/>
      </div>
     </div>
     <div>
      <div>
       <img src="/src/assets/oftalmologia/oftalmologia4.png"/>
      </div>
      <div>
       <h3>
        Retina
       </h3>
       <p>
        <strong>
         CENTROS ESPECIALIZADOS EN ENFERMEDADES DE RETINA.
        </strong>
       </p>
       <p>
        Nuestra red asistencial está integrada por un grupo de profesionales de la oftalmología con amplia experiencia que tratan toda clase de patologías retinianas, desde las más frecuentes a las más complejas, como la Degeneración Macular Asociada a la Edad, la retinopatía diabética, la retinosis pigmentaria, las posibles consecuencias de la miopía magna.
       </p>
      </div>
     </div>
    </div>
    <div>
      <div class="inline-flex items-center justify-content-center">
       <img src="/src/assets/oftalmologia/oftalmologia-icon2.png"/>
       <h2 class="ml-5 title">Enfermedades de los ojos</h2>
      </div>
     <div>
      <div>
       <h2>
        Tratamientos oftalmológicos
       </h2>
      </div>
     </div>
     <div>
      <div>
       <h3>
        Oftalmología pediátrica
       </h3>
       <p>
        Se ocupa de la detección, tratamiento y seguimiento de los problemas visuales infantiles especialmente del ojo vago y del estrabismo infantil.
       </p>
       <br/>
       <h3>
        Glaucoma
       </h3>
       <p>
        Es una de las enfermedades de los ojos que no suele presentar síntomas hasta fases avanzadas. La detección precoz y abordaje temprano del problema resulta fundamental para frenar la enfermedad.
       </p>
      </div>
      <div>
       <img src="/src/assets/oftalmologia/oftalmologia5.png"/>
      </div>
     </div>
     <div>
      <div>
       <img src="/src/assets/oftalmologia/oftalmologia6.png"/>
      </div>
      <div>
       <h3>
        Estrabismo
       </h3>
       <p>
        Se debe abordar desde una doble vía: tratamiento de consecuencias visuales del problema y tratamiento de consecuencias estéticas.
       </p>
       <br/>
       <h3>
        Oculoplastia
       </h3>
       <p>
        Se ocupa de las estructuras faciales que rodean los ojos (párpados, órbita y vía lagrimal) y de los problemas y anomalías que las afectan.
       </p>
       <br/>
       <h3>
        Córnea
       </h3>
       <p>
        Puede verse afectada por algunos problemas que pueden alterar sus características y provocar una visión defectuosa.
       </p>
      </div>
     </div>
     <div>
      <div>
       <h3>
        Alteraciones neuroftalmológicas
       </h3>
       <p>
        Los casos son tratados conjuntamente por un neurólogo y un oftalmólogo para ofrecer un enfoque y una solución multidisciplinar.
       </p>
       <br/>
       <h3>
        Vias lagrimales
       </h3>
       <p>
        El lagrimeo constante puede llegar a interferir en la calidad de vida del paciente. La obstrucción de la vía lagrimal tiene una solución quirúrgica.
       </p>
      </div>
      <div>
       <img src="/src/assets/oftalmologia/oftalmologia7.png"/>
      </div>
     </div>
    </div>
   </div>
</BaseLayout>