---
import BaseLayout from "../../layouts/BaseLayout.astro";
import HeroSmall from "/src/components/HeroSmall.astro";
const pageTitle = "Pediatría";
const url = "/src/assets/pediatria/bg-dosis.png";
---

<BaseLayout>

   <HeroSmall name={pageTitle} url={url} alternativeText={pageTitle}/>
   
   <div class="items-center max-w-5xl px-10 sm:px-10 md:px-10 lg:mx-auto pt-10 pb-5 service-detail">
      <div>
      <img/>
      <div>
      <a>
         <h5>
         Pediatría
         </h5>
         <p>
         </p>
      </a>
      </div>
      </div>
      <form>
      <input/>
      <div class="container distTop">
      <div>
         <h4>
         Calculadora de dosis
         </h4>
      </div>
      <div class="box container" id="quote-modal-dosis">
         <div>
         <div>
         <div>
            <div>
            <p>
            <label>
               Peso:
            </label>
            </p>
            <input/>
            <p>
            kg
            </p>
            </div>
            <div>
            <p>
            <label>
               Edad:
            </label>
            </p>
            <input/>
            <p>
            años
            </p>
            </div>
            <div>
            <label>
            ListadoPrinActivo
            </label>
            <select>
            <option>
               Ambroxol
            </option>
            <option>
               Amoxicilina
            </option>
            <option>
               Amoxicilina-clavulánico
            </option>
            <option>
               Azitromicina
            </option>
            <option>
               Cefixima
            </option>
            <option>
               Cefuroxima axetilo
            </option>
            <option>
               Claritromicina
            </option>
            <option>
               Cloperastina
            </option>
            <option>
               Cloxacilina
            </option>
            <option>
               Codeina
            </option>
            <option>
               Deflazacor
            </option>
            <option>
               Dexametasona
            </option>
            <option>
               Dexclorfeniramina
            </option>
            <option>
               Dextrometorfano
            </option>
            <option>
               Diazepam (Rectal)
            </option>
            <option>
               Domperidona
            </option>
            <option>
               Eritromicina
            </option>
            <option>
               Hidroxizina
            </option>
            <option>
               Ibuprofeno
            </option>
            <option>
               Loratadina
            </option>
            <option>
               Metoclopramida
            </option>
            <option>
               Paracetamol
            </option>
            <option>
               Penicilina V
            </option>
            <option>
               Penicilina V benzatina
            </option>
            <option>
               Prednisolona
            </option>
            <option>
               Salbutamol
            </option>
            </select>
            </div>
         </div>
         <div>
         </div>
         <div>
            <button>
            Calcular Dosis
            </button>
         </div>
         </div>
         <div>
         <p>
            Calcule la dosis.
         </p>
         </div>
         </div>
         <!--Bloque buscador farmacias-->
         <div>
         <div>
         <a>
            <div>
            <div>
            <img/>
            </div>
            <div>
            <h3>
               <strong>
               Accede aquí para consultar sobre vacunas y programas de vacunación
               </strong>
            </h3>
            <p>
            </p>
            </div>
            </div>
         </a>
         </div>
         <div>
         <a>
            <div>
            <div>
            <img/>
            </div>
            <div>
            <h3>
               <strong>
               Encuentra tu farmacia más cercana 24h
               </strong>
            </h3>
            <p>
            </p>
            </div>
            </div>
         </a>
         </div>
         </div>
         <!--fin Bloque buscador farmacias-->
      </div>
      </div>
      <input/>
      </form>
   </div>
   
</BaseLayout>