---
import BaseLayout from "../../layouts/BaseLayout.astro";
const pageTitle = "Podología";
---

<BaseLayout pageTitle={pageTitle}>
    
<div class="items-center max-w-5xl px-10 sm:px-10 md:px-10 lg:mx-auto pt-10 pb-5 service-detail">
   <div>
    <img/>
    <div>
     <h5>
      Podología
     </h5>
    </div>
   </div>

    <!-- INDICE -->

   <div class="container" id="Scrolling">
    <div>
     <div>
      <div>
       <img/>
       <h2>
        Quiropodia
       </h2>
      </div>
     </div>
     <div>
      <div>
       <p>
        Prevenir, diagnosticar y tratar cualquier problema relacionado con el pie y las uñas. Un mal apoyo de los pies, un calzado inadecuado, infecciones víricas fúngicas o bacterianas pueden derivar en una lesión en el pie que nos limita nuestra calidad de vida.
       </p>
      </div>
      <div>
       <img/>
      </div>
     </div>
    </div>
    <div>
     <div>
      <div>
       <img/>
       <h2>
        Hiperqueratosis
       </h2>
      </div>
     </div>
     <div>
      <div>
       <img/>
      </div>
      <div>
       <p>
        Es la presión o roce mantenido intermitente produciendo un desplazamiento de las capas de la piel. Puede estar relacionado con una presión externa como puede ser el zapato o una presión interna por ejemplo un dedo deformado.

                    Este engrosamiento de la piel puede producir molestias y puede ir acompañado de otras lesiones de mayor dureza.
        <br/>
        Tipos:
       </p>
       <ul>
        <li>
         <span>
          Los helomas o callos.
         </span>
        </li>
        <li>
         <span>
          Papilomas (Verrugas).
         </span>
        </li>
       </ul>
      </div>
     </div>
     <div>
      <div>
       <h3>
        Prevención pie diabético
       </h3>
       <p>
        La prevención de complicación en el pie diabético se basa en educación del paciente y medidas de higiene con revisiones periódicas por parte del podólogo. Es para ellos que los podólogos establecen el nivel de riesgo que tiene el paciente para poder llevar un control correcto.
       </p>
      </div>
      <div>
       <img/>
      </div>
     </div>
     <div>
      <div>
       <img/>
      </div>
      <div>
       <h3>
        Problemas de uñas
       </h3>
       <p>
        El tratamiento de la quiropodia se basa en el corte y fresado de las uñas. En el caso que el podólogo considere recomendará también el uso de medicamentos para tratar la posible infección. A su vez, en caso de sospecha de posible infección por hongos, el podólogo obtendrá una muestra de la uña para realizar un cultivo de la uña y poder aislar el microorganismo que esté causando el problema infeccioso y tratarlo correctamente.
       </p>
      </div>
     </div>
    </div>
    <div>
     <div>
      <div>
       <img/>
       <h2>
        Cirugías
       </h2>
      </div>
     </div>
     <div>
      <div>
       <img/>
      </div>
      <div>
       <p>
        Existen algunos problemas de los pies que se pueden resolver de manera definitiva mediante cirugía.
       </p>
       <h3>
        Prevención pie diabético
       </h3>
       <p>
        El factor traumático es el desencadenante de una uña encarnada. La presión directa sobre la uña bien desde el dorso o bien desde los laterales produce que se clave la uña en la piel de los bordes del dedo.
       </p>
      </div>
     </div>
     <div>
      <div>
       <h3>
        Juanetes
       </h3>
       <p>
        El origen de los juanetes en mayor parte de los casos suele producirse por cambios biomecánicos del pie. También existe un componente genético hereditario que predisponen a que el pie de deforme hacia los juanetes, los pacientes heredan la forma de los dedos y de los pies en general. Se usan medidas conservadoras como plantillas o cambios de calzado cuya finalidad es mejorar los síntomas, pero no corrigen la deformidad. La única solución definitiva es la cirugía.
       </p>
       <h3>
        Metatarsalgia
       </h3>
       <p>
        Es el dolor, hinchazón deformidad, cojera, alteraciones de la piel como hiperqueratosis o helomas y dificultad para ponerse zapatos.
       </p>
      </div>
      <div>
       <img/>
      </div>
     </div>
    </div>
    <div>
     <div>
      <div>
       <img/>
       <h2>
        Curación de heridas
       </h2>
      </div>
     </div>
     <div>
      <div>
       <img/>
      </div>
      <div>
       <p>
        Se aplican los protocolos de tratamiento con los que se logran reducir el porcentaje de aparición de complicaciones en los pies y piernas. La mala circulación venosa en las piernas es, a menudo, la causa de distintos problemas en los miembros inferiores tales como piernas hinchadas o doloridas, varices e incluso úlceras.
       </p>
      </div>
     </div>
    </div>
    <div>
     <div>
      <div>
       <img/>
       <h2>
        Podología deportiva
       </h2>
      </div>
     </div>
     <div>
      <div>
       <p>
        El tratamiento conjunto y coordinado de nuestros podólogos y fisioterapeutas es esencial para la correcta resolución de la lesión deportiva. El conjunto de análisis biomecánico de la marcha y gesto deportivo en coordinación con la valoración y diagnóstico fisioterapéutico nos llevará a la pauta del plan de tratamiento y de recuperación y readaptación a la práctica deportiva del paciente que tenga una lesión. A su vez, una vez resuelta o en el caso de no tener lesión, el tratamiento irá enfocado a la prevención de esta haciendo un estudio y viendo de manera precoz cuales pueden ser los factores de riesgo para desarrollar una lesión.
       </p>
      </div>
      <div>
       <img/>
      </div>
     </div>
    </div>
    <div>
     <div>
      <div>
       <img/>
       <h2>
        Podología personas mayores
       </h2>
      </div>
     </div>
     <div>
      <div>
       <img/>
      </div>
      <div>
       <p>
        A lo largo de nuestras vidas, nuestros pies son los encargados de transportarnos. Los pies han soportado muchos pasos y el peso del cuerpo. Es por ello por lo que la edad produce una serie de cambios en la piel y en las uñas que se tiene que cuidar.
       </p>
       <br/>
       <p>
        La grasa de la planta del pie puede modificar su propiedad de amortiguación y a su vez tener también deshidratación lo que provoca que se produzcan más lesiones. Las uñas también sufren cambios en su estructura y en su grosor.
       </p>
      </div>
     </div>
    </div>
</div>
</BaseLayout>