---
import BaseLayout from '/src/layouts/BaseLayout.astro';
import PrivateAreaLayout from '/src/layouts/PrivateAreaLayout.astro';
const pageTitle = "Gestionar mis datos";
---
<PrivateAreaLayout>
    <form class="max-w-4xl mx-auto p-6 bg-white shadow-md rounded-lg">
        <div class="grid grid-cols-1 gap-4">
            <!-- Primera columna -->
            <div>
            <label for="desde" class="block text-sm font-medium text-gray-700 mt-4">Desde</label>
            <input type="date" id="desde" name="desde" class="mt-1 p-2 w-full border rounded-md" />

            <label for="hasta" class="block text-sm font-medium text-gray-700 mt-4">Hasta</label>
            <input type="date" id="hasta" name="hasta" class="mt-1 p-2 w-full border rounded-md" />

            <label for="nombre" class="block text-sm font-medium text-gray-700 mt-4">Nombre del Médico/Centro</label>
            <input type="text" id="nombre" name="nombre" class="mt-1 p-2 w-full border rounded-md" />

            <label for="estado" class="block text-sm font-medium text-gray-700 mt-4">Estado</label>
            <select id="estado" name="estado" class="mt-1 p-2 w-full border rounded-md">
                <option value="masculino">Todos</option>
                <option value="femenino">Primero</option>
                <option value="otro">Segundo</option>
            </select>
            </div>
        </div>

        <div class="mt-6">
            <button type="submit" class="bg-[#009494] font-bold uppercase
                text-white text-[0.9rem]
                tracking-widest px-5 py-3
                transform transition-all duration-300 hover:scale-110 hover:bg-[#007e7e]
                inline-flex items-center cursor-pointer rounded-full">
                Buscar
            </button>
        </div>
    </form>
</PrivateAreaLayout>



<style>
    form input,
    form select {
        border-color: #dfdfdf;
        font-size: 0.8rem;
    }
    form label {
        color: var(--color-turquoise-500);
    }
</style>