---
import BaseLayout from '/src/layouts/BaseLayout.astro';
import PrivateAreaLayout from '/src/layouts/PrivateAreaLayout.astro';
const pageTitle = "Segunda opinión";
---
<PrivateAreaLayout>
    <div class="max-w-4xl mx-auto p-6 bg-white rounded-lg">
      <div class="container" id="segundaOpinionMedica">
        <div class="contentSegundaOpinion">
          <h4 class="color-turquoise">Segunda opinión médica</h4>
            <p>
              Un médico de reconocido prestigio nacional o internacional
              en su especialidad analizará el diagnóstico inicial y
              recomendará de forma gratuita el mejor tratamiento para
              enfermedades graves, crónicas o degenerativas que supongan
              un peligro o afecte sensiblemente a su calidad de vida,
              como:
            </p>
            <section class="py-10">
              <div
                class="grid grid-cols-3 items-center gap-5"
              >
                <div
                  class="grid grid-col-1 justify-content-center justify-items-center opinion_cancer"
                >
                  <img
                    src="/src/assets/garantias-asistencia/ico_cancer.png"
                    alt="Cancer"
                  />
                  <h5 class="color-turquoise text-center mt-2">Cáncer</h5>
                </div>
                <div
                  class="grid grid-col-1 justify-content-center justify-items-center opinion_transplantes"
                >
                  <img
                    src="/src/assets/garantias-asistencia/ico_transplantes.png"
                    alt="Transplantes"
                  />
                  <h5 class="color-turquoise text-center mt-2">
                    Transplantes
                  </h5>
                </div>
                <div
                  class="grid grid-col-1 justify-content-center justify-items-center opinion_renal"
                >
                  <img
                    src="/src/assets/garantias-asistencia/ico_renal.png"
                    alt="Insuficiencia Renal Crónica"
                  />
                  <h5 class="color-turquoise text-center mt-2">
                    Insuficiencia Renal Crónica
                  </h5>
                </div>
                <div
                  class="grid grid-col-1 justify-content-center justify-items-center opinion_hemato"
                >
                  <img
                    src="/src/assets/garantias-asistencia/ico_hemato.png"
                    alt="Enfermedades Hematológicas"
                  />
                  <h5 class="color-turquoise text-center mt-2">
                    Enfermedades Hematológicas
                  </h5>
                </div>
                <div
                  class="grid grid-col-1 justify-content-center justify-items-center opinion_inmuno"
                >
                  <img
                    src="/src/assets/garantias-asistencia/ico_inmunologico.png"
                    alt="Enfermedades Inmunológicas"
                  />
                  <h5 class="color-turquoise text-center mt-2">
                    Enfermedades Inmunológicas
                  </h5>
                </div>
                <div
                  class="grid grid-col-1 justify-content-center justify-items-center opinion_cardio"
                >
                  <img
                    src="/src/assets/garantias-asistencia/ico_cardio.png"
                    alt="Enfermedades Cardiovasculares"
                  />
                  <h5 class="color-turquoise text-center mt-2">
                    Enfermedades Cardiovasculares
                  </h5>
                </div>
                <div
                  class="grid grid-col-1 justify-content-center justify-items-center opinion_respiratorio"
                >
                  <img
                    src="/src/assets/garantias-asistencia/ico_respiratorio.png"
                    alt="Enfermedades Respiratorias"
                  />
                  <h5 class="color-turquoise text-center mt-2">
                    Enfermedades Respiratorias
                  </h5>
                </div>

                <div
                  class="grid grid-col-1 justify-content-center justify-items-center opinion_neuro"
                >
                  <img
                    src="/src/assets/garantias-asistencia/ico_neuro.png"
                    alt="Enfermedades Neurológicas y Neuromusculares"
                  />
                  <h5 class="color-turquoise text-center mt-2">
                    Enfermedades Neurológicas y Neuromusculares
                  </h5>
                </div>
                <div
                  class="grid grid-col-1 justify-content-center justify-items-center opinion_oftalmo"
                >
                  <img
                    src="/src/assets/garantias-asistencia/ico_oftalmo.png"
                    alt="Enfermedades Oftalmológicas"
                  />
                  <h5 class="color-turquoise text-center mt-2">
                    Enfermedades Oftalmológicas
                  </h5>
                </div>
                <div
                  class="grid grid-col-1 justify-content-center justify-items-center opinion_neuroquirurgico"
                >
                  <img
                    src="/src/assets/garantias-asistencia/ico_neuro2.png"
                    alt="Enfermedades Neuroquirúrgicas"
                  />
                  <h5 class="color-turquoise text-center mt-2">
                    Enfermedades Neuroquirúrgicas
                  </h5>
                </div>
                <div
                  class="grid grid-col-1 justify-content-center justify-items-center opinion_gastro"
                >
                  <img
                    src="/src/assets/garantias-asistencia/ico_gastro.png"
                    alt="Enfermedades Gastrointestinales"
                  />
                  <h5 class="color-turquoise text-center mt-2">
                    Enfermedades Gastrointestinales
                  </h5>
                </div>
                <div
                  class="grid grid-col-1 justify-content-center justify-items-center opinion_otorrino"
                >
                  <img
                    src="/src/assets/garantias-asistencia/ico_otorrino.png"
                    alt="Enfermedades Otorrinolaringológicas"
                  />
                  <h5 class="color-turquoise text-center mt-2">
                    Enfermedades Otorrinolaringológicas
                  </h5>
                </div>
                <div
                  class="grid grid-col-1 justify-content-center justify-items-center opinion_sida"
                >
                  <img
                    src="/src/assets/garantias-asistencia/ico_sida.png"
                    alt="Transplantes"
                  />
                  <h5 class="color-turquoise text-center mt-2">SIDA</h5>
                </div>
                <div
                  class="grid grid-col-1 justify-content-center justify-items-center opinion_derma"
                >
                  <img
                    src="/src/assets/garantias-asistencia/ico_derma.png"
                    alt="Transplantes"
                  />
                  <h5 class="color-turquoise text-center mt-2">
                    Enfermedades Dermatológicas
                  </h5>
                </div>
              </div>
            </section>
          <div class="secondTextOpinion">
              <p>Se asignará un asesor médico, quien será el encargado de seleccionar al especialista y gestionar con el asegurado el mejor sistema para aportar el historial clínico de su enfermedad, así como las pruebas complementarias que el médico especialista necesite. Este asesor mantendrá informado al paciente sobre el estado de su consulta y finalmente le hará entrega un informe por escrito firmado de la segunda opinión médica solicitada.</p>
              <h4>¿Cómo solicitar una segunda opinión médica?</h4>
              <p>Puede solicitar una segunda opinión médica, llamando al teléfono, 91 703 90 24, en horario de 9 de la mañana a 8 de la tarde de lunes a viernes.</p>
          </div>

      </div>
    </div>
</PrivateAreaLayout>



<style>
    h4 {
      font-size: 1rem;
      color: var(--color-turquoise-500);
      margin-top:1rem;
      margin-bottom:1rem;
    }
    h5 {
      font-size: 0.8rem;
    }
</style>