<div class="container-fluid bgwhite items-center max-w-5xl mx-auto my-10">
 <div>
  <div>
   <a>
    Unidad de Oftalmología
   </a>
  </div>
  <div>
   <a>
    Enfermedades de los ojos
   </a>
  </div>
  <div>
   <a>
    Promociones oftalmología
   </a>
  </div>
 </div>
</div>
