<div class="box container items-center max-w-5xl mx-auto my-10">
 <div>
  <div>
   <img/>
   <h2>
    Cada Mujer Cuenta
   </h2>
  </div>
  <div>
   <div>
    <a>
     <h3>
      Ginecología
     </h3>
    </a>
   </div>
  </div>
  <div>
   <div>
    <a>
     <h3>
      Obstetricia
     </h3>
    </a>
   </div>
  </div>
  <div>
   <div>
    <a>
     <h3>
      Reproducción Asistida
     </h3>
    </a>
   </div>
  </div>
  <div>
   <div>
    <a>
     <h3>
      Onco-Gine
     </h3>
    </a>
   </div>
  </div>
  <div>
   <div>
    <a>
     <h3>
      Preserva
     </h3>
    </a>
   </div>
  </div>
  <div>
   <div>
    <a>
     <h3>
      Genética
     </h3>
    </a>
   </div>
  </div>
 </div>
</div>
