---
const { imageSrc, title } = Astro.props;
---

<div class="inline-flex items-center justify-content-center pb-10">
  <img src={imageSrc} />
  <h2 class="ml-5 title color-turquoise">{title}</h2>
</div>