<div class="container-fluid bgwhite items-center max-w-5xl mx-auto my-10">
 <div>
  <div>
   <a>
    Quiropodia
   </a>
  </div>
  <div>
   <a>
    Hiperqueratosis
   </a>
  </div>
  <div>
   <a>
    Cirugías
   </a>
  </div>
  <div>
   <a>
    Curación de heridas
   </a>
  </div>
  <div>
   <a>
    Podología deportiva
   </a>
  </div>
  <div>
   <a>
    Podología personas mayores
   </a>
  </div>
  <div>
   <a>
    Promociones podología
   </a>
  </div>
 </div>
</div>
