<div class="container-fluid bgwhite items-center max-w-5xl mx-auto my-10">
 <div>
  <div>
   <a>
    Características
   </a>
  </div>
  <div>
   <a>
    Pruebas
   </a>
  </div>
  <div>
   <a>
    Triple Screening
   </a>
  </div>
 </div>
</div>
