---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SimpleButton from "../../components/buttons/SimpleButton.astro";
import allPosts from "../../data/posts"; // Importamos la lista de posts
import type { Post } from "../../interface/Post";

// Extrae todas las categorias únicas
const categories = [
  ...new Set(allPosts.map((post: Post) => post.category).flat()),
];
const pageTitle = "Todas las categorias";
---

<BaseLayout pageTitle={pageTitle}>
  <div
    class="items-center max-w-5xl px-10 sm:px-10 md:px-10 lg:mx-auto pt-10 pb-5 grid grid-col-1 gap-5"
  >
    <h2 class="color-turquoise">{pageTitle}</h2>

    <div class="categories flex gap-3">
      {
        categories.map((category) => (
          <p class="category">
            <SimpleButton
              buttonLink={`/categories/${category}`}
              buttonText={category}
            />
          </p>
        ))
      }
    </div>
  </div>
</BaseLayout>
