---
import BaseLayout from '../../layouts/BaseLayout.astro';

// Obtiene todos los posts
const allPosts: any = await Astro.glob('../posts/*.md');

// Extrae todas las categorias únicas
const uniqueCategories = [...new Set(allPosts.map((post: any) => post.frontmatter.categories).flat())];

const pageTitle = "Todas las categorias";
---

<BaseLayout pageTitle={pageTitle}>

  <ul>
    {uniqueCategories.map((categoy) => (
      <li>
        <a href={`/categories/${categoy}`}>{categoy}</a>
      </li>
    ))}
  </ul>
</BaseLayout>
