---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Página 404";
---

<BaseLayout pageTitle={pageTitle}>
    <h1>404</h1>
    <p>Lo siento, no se encontró la página que buscas.</p>
</BaseLayout>