---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="pt-5 pb-10">
    <div class="container max-w-5xl mx-auto">
      <div class="row">
        <div class="col-12">
          <div class="Buscador">
            <h2 class="title">Buscador médico</h2>

            
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>

<style>
  h2,
  h3,
  h4 {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  h5 {
    font-size: 12px;
  }
  ul {
    list-style-type: disc;
    font-size: 0.8rem;
    padding-left: 20px;
  }
  ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  strong {
    font-weight: bold;
  }
</style>
