---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="wrapper">
    <section class="colors grid grid-cols-1 gap-5">
      <div>
        <h2>Colores</h2>
        <hr />
      </div>
      <div class="bg-red-500">Red 500</div>
      <div class="bg-red-500">Red 500</div>
      <div class="bg-red-500">Red 500</div>
      <div class="bg-red-500">Red 500</div>
    </section>
    <section class="texts grid grid-cols-1 gap-5">
      <div>
        <h2>Textos</h2>
        <hr />
      </div>
      <h1>Heading H1</h1>
      <h2>Heading H2</h2>
      <h3>Heading H3</h3>
      <h4>Heading H4</h4>
      <h5>Heading H5</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel ex
        dolor. Aliquam dui mauris, congue ut viverra quis, euismod sit amet ex.
        Ut bibendum, erat id maximus condimentum, neque tortor sodales turpis,
        vel egestas dolor dui vitae purus. Mauris mollis at nunc malesuada
        rutrum. Nulla ipsum mauris, finibus et eros maximus, hendrerit
        ullamcorper diam. Vivamus cursus ante ac turpis convallis imperdiet.
        Vestibulum feugiat ex vel nisl ultrices sagittis. Nulla eu ipsum eu ante
        commodo dictum. Sed fermentum suscipit turpis feugiat blandit. Vivamus
        eget lacinia tortor. Vivamus facilisis efficitur fringilla. Ut libero
        ipsum, facilisis vitae ullamcorper sed, placerat eu arcu. Aenean vel
        urna sit amet dolor mollis sodales. Maecenas eu sodales risus, a maximus
        nisi. Sed molestie et lectus vitae vulputate. Morbi elementum mauris
        faucibus, imperdiet tellus vehicula, ullamcorper sapien. Etiam vitae
        suscipit lacus, congue dignissim est. Sed auctor sollicitudin urna.
      </p>
    </section>
    <section class="buttons grid grid-cols-1 gap-5">
      <div>
        <h2>Botones</h2>
        <hr />
      </div>
    </section>
  </div>
</BaseLayout>

<style>
  .wrapper {
    padding: 50px;
  }
  section {
    margin-top: 20px;
    margin-bottom: 30px;
  }
</style>
