<div class="box container items-center max-w-5xl mx-auto my-10">
 <div>
  <div>
   <div>
    <a>
     <h3>
      Fertilidad Masculina
     </h3>
    </a>
   </div>
  </div>
  <div>
   <div>
    <a>
     <h3>
      Uro-Oncología
     </h3>
    </a>
   </div>
  </div>
  <div>
   <div>
    <a>
     <h3>
      La disfunción eréctil (impotencia)
     </h3>
    </a>
   </div>
  </div>
  <div>
   <div>
    <a>
     <h3>
      Urología Clínica
     </h3>
    </a>
   </div>
  </div>
 </div>
</div>
