<div class="full-container items-center max-w-5xl mx-auto my-10" id="salud-senior-presentacion">
 <div>
  <div>
   <img/>
  </div>
  <div>
   <p>
    Nuevas necesidades post covid 19 en la atención domiciliaria por empresas especializadas para desarrollar los servicios en su hogar.
   </p>
  </div>
 </div>
</div>
