---
import FooterColumn from "./FooterColumn.astro";
import Social from "./Social.astro";
---

<footer class="background-5 flex">
  <FooterColumn heading="Redes sociales">
    <div class="flex">
      <Social platform="twitter" username="astrodotbuild" />
      <Social platform="github" username="withastro" />
      <Social platform="youtube" username="astrodotbuild" />
    </div>
  </FooterColumn>
  <FooterColumn heading="Productos">
    <div class="flex">
      <ul>
        <li><a href="">Legálitas Esencial</a></li>
        <li><a href="">Legálitas Plus</a></li>
        <li><a href="">Legálitas Premium</a></li>
        <li><a href="">Legálitas Esencial Premium</a></li>
        <li><a href="">Legálitas Plus Negocio</a></li>
        <li><a href="">Legálitas Premium Negocio</a></li>
      </ul>
    </div>
  </FooterColumn>
  <FooterColumn heading="Conócenos">
    <div class="flex">
      <ul>
        <li><a href="">Sobre Nosotros</a></li>
        <li><a href="">Trabaja con nosotros</a></li>
        <li><a href="">Fundación</a></li>
        <li><a href="">Seguros viaje</a></li>
        <li><a href="">Legálitas lab</a></li>
      </ul>
    </div>
  </FooterColumn>
  <FooterColumn heading="Contacta">
    <div class="flex">
      <ul>
        <li><a href="">Clientes</a></li>
        <li><a href="">Hazte cliente</a></li>
      </ul>
    </div>
  </FooterColumn>
  <FooterColumn heading="Certificaciones">
    <div class="flex">
      <ul>
        <li>Imagen</li>
        <li>Legálitas Seguros, informe situación financiera y solvencia:</li>
        <li>2016 | 2017 | 2018 | 2019 | 2020</li>
      </ul>
    </div>
  </FooterColumn>
</footer>

<style>
  footer {
    gap: 1rem;
  }
  .background-5 {
    padding: 65px 25px 110px;
    background: rgb(2,149,149);
    background: linear-gradient(0deg, rgba(2,149,149,1) 0%, rgba(0,100,100,1) 100%);
  }
  a, li {
    color: white;
    font-size: .8rem;
    font-weight: 400;
    text-decoration: none;
  }

  li {
    padding-top: 10px;
    padding-bottom: 5px;
    }
</style>