---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
---

<style>
    header {
        width: 100%;
        background: #333;
        padding: 10px;
    }
</style>

<header class="container-full-width">
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header>