---
import MedicalSearch from "./MedicalSearch.astro";
const { imageSrc, showMedicalSearch } = Astro.props;
---

<section class="relative">
  <img class="w-full" src={imageSrc} />
  <!-- Capa negra con opacidad -->
  <div class="absolute inset-0 flex items-center justify-left bg-black/20 pt-20">
    {showMedicalSearch && <MedicalSearch />}
  </div>
</section>