---
import MedicalSearch from "./MedicalSearch.astro";
const { imageSrc, showMedicalSearch } = Astro.props;
---

<section class="relative">
  <div
    class="image bg-cover bg-center min-h-[50vh] lg:min-h-[75vh]"
    style={{ backgroundImage: `url(${imageSrc})` }}
  >
  </div>
  <!-- Capa negra con opacidad -->
  <div
    class="absolute inset-0 flex items-center justify-left bg-black/20 pt-20"
  >
    {showMedicalSearch && <MedicalSearch />}
  </div>
</section>
