---
import MedicalSearch from "/src/components/MedicalSearch.astro";
const { url, alternativeText, name, showMedicalSearch } = Astro.props;
---

<div class="relative">
  <img class="w-full" src={url} alt={alternativeText} />
  <div class="absolute inset-0 flex items-center justify-left bg-black/10">
    <h5 class="color-turquoise pl-20">{name}</h5>
    {showMedicalSearch && <MedicalSearch />}
  </div>
</div>