<div class="container">
  <div class="row margintop35">
    <div class="col-md-12">
      <img src="/images/icon/mail.png" class="img-mesa paddingtop40" /><h2>
        ¿Necesitas más información?
      </h2>
      <div class="mas-info">
        <p>
          Por favor, déjanos tu teléfono e email y nos pondremos en contacto
          contigo cuanto antes para explicarte todos los detalles.
        </p>
        <p>
          <strong><em>Horario de llamadas L-V de 8.00 a 21.00h.</em></strong>
        </p>
      </div>
    </div>
    <div class="col-md-12">
      <div>
        <form
          action="/servicios-de-salud/salud-mujer/landings-salud-mujer/preserva/"
          enctype="multipart/form-data"
          id="solicitudInfoDonanteForm"
          method="post"
        >
          <input
            name="__RequestVerificationToken"
            type="hidden"
            value="_CxajV3CXF4KyA1Zn7JgaAt9G6K0cVkp2NeQO3HdlbYcj8lRGKmOwfzbTQ3QSlh__8aB4ub3fwaUHLA4DYXcibAVUUrXU4kU0McUTC6Y5Mk1"
          />
          <div class="form-group"></div>
          <div>
            <input
              id="Subject"
              name="Subject"
              type="text"
              value="SO88FL Consulta Salud Mujer Donacion"
              hidden=""
            />
          </div>
          <div class="row marginbottom20">
            <div class="col-md-6">
              <div class="form-group form-salud">
                <input
                  class="form-control"
                  id="Nombre"
                  name="Nombre"
                  placeholder="Nombre*"
                  required="true"
                  type="text"
                  value=""
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-salud">
                <input
                  class="form-control"
                  id="Apellidos"
                  name="Apellidos"
                  placeholder="Apellidos*"
                  required="true"
                  type="text"
                  value=""
                />
              </div>
            </div>
          </div>
          <div class="row marginbottom20">
            <div class="col-md-6">
              <div class="form-group form-salud">
                <input
                  class="form-control"
                  id="Telefono"
                  name="Telefono"
                  pattern="[0-9]{9}"
                  placeholder="Teléfono*"
                  required="true"
                  type="text"
                  value=""
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-salud">
                <input
                  class="form-control"
                  id="Mail"
                  name="Mail"
                  placeholder="Email*"
                  required="true"
                  type="text"
                  value=""
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-salud">
                <textarea
                  class="form-control"
                  cols="20"
                  id="TextoPregunta"
                  name="TextoPregunta"
                  placeholder="Tu pregunta*"
                  required="true"
                  rows="2"></textarea>
                <label>
                  <input
                    class="form-control"
                    id="AceptoPolitica"
                    name="AceptoPolitica"
                    required="true"
                    type="checkbox"
                    value="true"
                  /><input name="AceptoPolitica" type="hidden" value="false" />
                  Acepto la <a
                    target="_blank"
                    class="noHover"
                    href="https://atencionmedica.legalitas.com/politica-privacidad/"
                    >política de privacidad</a
                  > de la web*
                </label>
                <p class="float-right">
                  <em><strong>*Campos obligatorios</strong></em>
                </p>
                <div class="buttonPassword btn-formulario">
                  <button class="btn_popup">Enviar</button>
                </div>
              </div>
            </div>
          </div>
          <input
            name="ufprt"
            type="hidden"
            value="366BB9322C8AA64B0CE35294C970FCF370042B6C44D88547D3B6626F7B3F442AE31A9B36E707A73F783CBF2D2C585CF07C61FE3E6DAEFD8BF17A8C3B2FE322DDD465E88F2FD74869DDD5D018D94C2DA9F91D5B02F822F5EFE4D296069F0A946404EB466B1D60D7F8FFB4BC778AC5E88C714B51AB0016CF74139A720A9D344CA158CDC48E66B5297385761D03E4679EA121795E32171C276AA317C5C8C01568463BB1905C2E098BA11DB018896F87456E7E7D8F182D8E2274F6399483BE4965A4"
          />
        </form>
      </div>
    </div>
  </div>
</div>
