---
import SearchIcon from '../icons/SearchIcon.astro';
---

<nav class="w-full max-w-md mx-auto bg-white shadow-md rounded-lg overflow-hidden">
  <ul class="divide-y divide-gray-200">
    <li>
      <a href="./mis-datos" class="flex items-center gap-4 p-4 hover:bg-gray-100">
        <SearchIcon />
        <span class="text-gray-800 font-medium">Mis datos</span>
      </a>
    </li>
    <li>
      <a href="./contacto" class="flex items-center gap-4 p-4 hover:bg-gray-100">
        <SearchIcon />
        <span class="text-gray-800 font-medium">Contacto</span>
      </a>
    </li>
    <li>
      <a href="./gestionar-mis-citas" class="flex items-center gap-4 p-4 hover:bg-gray-100">
        <SearchIcon />
        <span class="text-gray-800 font-medium">Gestionar mis citas</span>
      </a>
    </li>
    <li>
      <a href="./atencion-medica-telefonica" class="flex items-center gap-4 p-4 hover:bg-gray-100">
        <SearchIcon />
        <span class="text-gray-800 font-medium">Atención médica telefónica</span>
      </a>
    </li>
    <li>
      <a href="./doctor-virtual" class="flex items-center gap-4 p-4 hover:bg-gray-100">
        <SearchIcon />
        <span class="text-gray-800 font-medium">Doctor virtual</span>
      </a>
    </li>
    <li>
      <a href="./segunda-opinion" class="flex items-center gap-4 p-4 hover:bg-gray-100">
        <SearchIcon />
        <span class="text-gray-800 font-medium">Segunda opinión</span>
      </a>
    </li>
  </ul>
</nav>