---
const submenuItems = [
  { name: "Salud Mujer", link: "/servicios-salud/salud-mujer" },
  { name: "Salud Hombre", link: "/servicios-salud/salud-hombre" },
  { name: "Salud Senior", link: "/servicios-salud/salud-senior" },
  { name: "Pediatría", link: "/servicios-salud/pediatria" },
  { name: "Dental", link: "/servicios-salud/dental" },
  { name: "Podología", link: "/servicios-salud/podologia" },
  { name: "Genética", link: "/servicios-salud/genetica" },
  { name: "Oftalmología", link: "/servicios-salud/oftalmologia" },
];
---

<div class="nav-links f-12">
  <a href="/">Inicio</a>

  <!-- Menú Servicios con Submenú -->
  <div class="menu-item">
    <a href="#">Servicios Salud</a>
    <div class="submenu text-black">
      {submenuItems.map((item) => <a href={item.link}>{item.name}</a>)}
    </div>
  </div>

  <a href="/cuadro-medico">Cuadro médico</a>
  <a href="/plan-de-vida-saludable">Plan de vida saludable</a>
  <a href="/blog">Artículos</a>
  <a href="/garantias-incluidas">Garantías incluidas</a>
  <a href="/otros-servicios">Otros servicios</a>
  <a class="orange" href="/area-privada/mis-datos">Área privada</a>
</div>

<style>
  .nav-links {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  @media screen and (max-width: 1099px) {
    .nav-links {
      display: none;
    }
  }

  .nav-links a {
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: uppercase;
    color: black;
    padding: 0px 0.5rem;
  }

  .nav-links a:hover,
  a:focus {
    color: grey;
  }

  .menu-item {
    position: relative;
  }

  .submenu {
    display: none;
    position: absolute;
    background: white;
    top: 50px;
    left: 0;
    list-style: none;
    padding: 0px;
    border-radius: 5px;
    min-width: 200px;
    z-index: 100;
  }

  .submenu a {
    color: black;
    text-decoration: none;
    padding: 20px 5px;
  }

  .submenu.expanded {
    display: block;
  }

  .nav-links .orange {
    background-color: #ffb023;
    padding: 2rem 1rem 2rem 1.5rem;
    border-top-left-radius: 50px;
    color: white;
    border-bottom-left-radius: 50px;
  }

  .nav-links .orange:hover {
    background-color: #f19f0b;
    color: white;
  }
</style>
