<div class="container-fluid bgwhite items-center max-w-5xl mx-auto my-10">
 <div>
  <div>
   <a>
    El propósito
   </a>
  </div>
  <div>
   <a>
    Evaluación ginecológico
   </a>
  </div>
  <div>
   <a>
    Valoración y prevención
   </a>
  </div>
 </div>
</div>
