<div class="container-fluid bgwhite items-center max-w-5xl mx-auto my-10">
 <div>
  <div>
   <a>
    Nutrición Personalizada
   </a>
  </div>
  <div>
   <a>
    Cardio
   </a>
  </div>
  <div>
   <a>
    Edad y Salud
   </a>
  </div>
  <div>
   <a>
    Bienestar - Prevencion
   </a>
  </div>
  <div>
   <a>
    Rendimiento Deportivo
   </a>
  </div>
  <div>
   <a>
    Prevención de Cancer
   </a>
  </div>
  <div>
   <a>
    Futuros padres
   </a>
  </div>
  <div>
   <a>
    Promociones
   </a>
  </div>
  <div>
   <a>
    Otros
   </a>
  </div>
 </div>
</div>
