<div class="container-fluid bgwhite items-center max-w-5xl mx-auto my-10">
 <div>
  <div>
   <a>
    Recomendaciones
   </a>
  </div>
  <div>
   <a>
    Valoración
   </a>
  </div>
  <div>
   <a>
    Tratamiento
   </a>
  </div>
  <div>
   <a>
    Otros
   </a>
  </div>
  <div>
   <a>
    Pruebas Diagnósticas
   </a>
  </div>
 </div>
</div>
