<!-- DIETAS -->

<div class="service-detail">
  <section id="quote-resultados" class="flex gap-5">
      <div class="col-sm-2 ico_resultados">
        <img class="img-fluid" src="/icon/ico_dieta_pvs.png" />
      </div>
      <div class="col-sm-10">
        <div class="text-resultados grid grid-col-1 gap-2">
          <h2 class="orange">¡Adelante!</h2>
          <p>
            Tu dieta recomendada es de <span class="resultados_calorias">
              2377.18</span
            > Kcal. Descubre los menús que puedes seguir para estar más sano. <br
            />
            <span class="bold">Ocaso cuida de ti.</span>
          </p>
        </div>
        <div class="resultados grid grid-col-1 gap-2">
          <div class="flex justify-between items-center">
            <label class="col-form-label" for="imc">
              Indice de masa corporal (IMC):
            </label>
            <input class="bg-gray-100 border border-gray-300 text-gray-500 text-sm rounded-lg p-2 cursor-not-allowed imc" disabled value="29.74" />
          </div>
          <div class="flex justify-between items-center">
            <label class="col-form-label" for="peso">Peso ideal (Kg):</label>
            <input class="bg-gray-100 border border-gray-300 text-gray-500 text-sm rounded-lg p-2 cursor-not-allowed kg" disabled value="62.5" />
          </div>
          <div class="flex justify-between items-center">
            <label class="col-form-label" for="dieta">Dieta de:</label>
            <input class="bg-gray-100 border border-gray-300 text-gray-500 text-sm rounded-lg p-2 cursor-not-allowed kcal" disabled value="2377.18 Kcal" />
          </div>
        </div>
      </div>
  </section>

  <!-- MENUS -->
  <section class="row margin-bottom-65">
    <div class="flex gap-2 col-menus items-center">
      <img src="/icon/icon-menus.png" class="img-mesa" />
      <h2>Menús</h2>
    </div>
    <div class="flex gap-10">
      <div id="quote-menu" class="col-sm-6 col-md-3 col-12-medium px-3">
        <!-- Box -->
        <section class="box feature">
          <div class="img_menu">
            <a data-toggle="modal" href="#modalLogin" class="image featured">
              <img src="/plan-de-vida-saludable/menu1.png" alt="" class="px-3"/>
            </a>
            <a
              data-toggle="modal"
              href="#modalLogin"
              style="cursor:pointer;"
              class="image featured"
            >
              <header>
                <h4 class="py-2 text-center">Menú 1</h4>
              </header>
              <p class="block_hidden dieta-calorias">
                Dieta de 2000 - 5000 calorías
              </p>
              <div class="p-menu button-orange">acceder al menú</div>
            </a>
          </div>
        </section>
      </div>
      <div id="quote-menu" class="col-sm-6 col-md-3 col-12-medium px-3">
        <!-- Box -->
        <section class="box feature">
          <div class="img_menu">
            <a data-toggle="modal" href="#modalLogin" class="image featured">
              <img src="/plan-de-vida-saludable/menu2.png" alt="" class="px-3"/>
            </a>
            <a
              data-toggle="modal"
              href="#modalLogin"
              style="cursor:pointer;"
              class="image featured"
            >
              <header>
                <h4 class="py-2 text-center">Menú 2</h4>
              </header>
              <p class="block_hidden dieta-calorias">
                Dieta de 2000 - 5000 calorías
              </p>
              <div class="p-menu button-orange">acceder al menú</div>
            </a>
          </div>
        </section>
      </div>
      <div id="quote-menu" class="col-sm-6 col-md-3 col-12-medium px-3">
        <!-- Box -->
        <section class="box feature">
          <div class="img_menu">
            <a data-toggle="modal" href="#modalLogin" class="image featured">
              <img src="/plan-de-vida-saludable/menu3.png" alt="" class="px-3"/>
            </a>
            <a
              data-toggle="modal"
              href="#modalLogin"
              style="cursor:pointer;"
              class="image featured"
            >
              <header>
                <h4 class="py-2 text-center">Menú 3</h4>
              </header>
              <p class="block_hidden dieta-calorias">
                Dieta de 2000 - 5000 calorías
              </p>
              <div class="p-menu button-orange">acceder al menú</div>
            </a>
          </div>
        </section>
      </div>
      <div id="quote-menu" class="col-sm-6 col-md-3 col-12-medium px-3">
        <!-- Box -->
        <section class="box feature">
          <div class="img_menu">
            <a data-toggle="modal" href="#modalLogin" class="image featured">
              <img src="/plan-de-vida-saludable/menu4.png" alt="" class="px-3"/>
            </a>
            <a
              data-toggle="modal"
              href="#modalLogin"
              style="cursor:pointer;"
              class="image featured"
            >
              <header>
                <h4 class="py-2 text-center">Menú 4</h4>
              </header>
              <p class="block_hidden dieta-calorias px-3">
                Dieta de 2000 - 5000 calorías
              </p>
              <div class="p-menu button-orange">acceder al menú</div>
            </a>
          </div>
        </section>
      </div>
    </div>
  </section>
</div>

  <style>
    h2 {
      font-size: 30px;
    }
    .orange {
      color: #ffb03b;
    }
    #backCalculadora h3 {
      background-color: #009494;
      padding: 20px 15px;
      color: white;
    }
    #quote-resultados, #quote-resultados2 {
      background-color: #ffffff;
      border: 1px solid #ececec;
      padding: 15px;
      margin-top: 0;
      border-bottom: 1px solid #ececec;
    }
    #quote-resultados p {
      color: #a2a2a2;
    }
    .col-form-label {
      padding-top: calc(0.375rem + 1px);
      padding-bottom: calc(0.375rem + 1px);
      margin-bottom: 0;
      font-size: 14px;
      line-height: 1.5;
    }
    .resultados input {
      padding: 10px 15px;
      font-size: 1rem;
      color: #545454;
      border: 1px solid #ececec;
    }
    .button-orange {
      color: #ffb03b;
      background: #fff;
      border: 1px solid #ffb03b;
      padding: 10px 0px;
      border-radius: 0px;
      cursor: pointer;
      text-align: center;
      border-radius:25px;
  }
  .button-orange:hover {
    color: #fff;
      background: #ffb03b;
  }
  
  </style>