<div class="items-center max-w-5xl px-10 sm:px-10 md:px-10 lg:mx-auto pt-10 pb-5 habitos-page" id="bajaUsuario">
    <div class="contentBajaUsuario">
      <div class="row margintop35">
        <div class="flex items-center gap-2">
          <img src="/plan-de-vida-saludable/plan-de-habitos-saludables/icon-baja.png" class="bell-icon">
          <h3>Baja:</h3>
        </div>
      </div>
      <div class="flex items-center gap-5 white-block mt-5 mb-7">
        <div class="col-md-4">
          <img src="/plan-de-vida-saludable/plan-de-habitos-saludables/img-baja-plan.png">
        </div>
        <div class="col-md-8">
            <div class="grid grid-col-1 gap-3">
                <h3>Darse de baja</h3>
                <p>Recuerda que si te das de baja dejarás de disfrutar las recomendaciones y beneficios de tu Plan de Vida Saludable.</p>
                <form action="/plan-de-vida-saludable/plan-de-habitos-de-vida-saludable" enctype="multipart/form-data" method="post">
                    <button id="btnDarBajaPlanAdherencia" hidden=""></button>
                    <input name="ufprt" type="hidden" value="F6625BB96FD1C6E9EB290E7A8F5ABE06190A29CDC2584C775564A1E9E617A9F31E8A0C4EDFBD639ECF55AFFA8C51484FF8113E3E0989D165E8E75CDCAF59C9BC790B15B491EB4CF5834FA70A9F7F42B1401A7B6D91D5EBAF58BF97F6DFC878C116F5B9531D1B5BE175BCDC4EA8630FBB265C020E079380BBA3A45A572D3059C9BE905706EA0BB5A087D0C79DB5E019C699B8ECA9AB02B2AE8D454523EAF892F0F046CAB7E063B31A36BA7ED4E6D19AFB">
                </form>
                <button type="button" class="btn btn-primary btn-baja button-orange" onclick="confirmacionParaDarDeBaja()">CONFIRMAR BAJA</button>
            </div>
        </div>
      </div>
    </div>
  </div>